form {
  width : 50%;
  padding: 30px;
  margin: auto;
}

form div {
  margin-top: 10px;
}

#color {
  width: 70px;
}

.checkbox, .radio {
  width: 20px !important;
  height: 20px !important;
}

#age {
  width: 100px;
}

#custom {
  margin-top: 5px;
}
.submit {
  border : 0;
  padding: 10px;
}

#date {
  width: 150px;
}